doctype html
html(lang="en")

  head
    title Bem! Bem!
    link(rel='stylesheet', href='/styles.css')
  body
    h1 Bem! Bem!... Vamonos! Vamonos!

    nav
      include ./components/navigation/_navigation.view.pug
    
    